body{
	padding: 0;
	margin: 0;
	z-index: -9;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
height: 100%;
}

li{
	list-style: none;
}

.img{
	padding: 150px;
	float: left;
}
.topmenu{
margin-left: 800px;
margin-top: -110px;
}
.topmenu ul li{
	float: left;
	margin-left: 30px;
	font-size: 25px;
	color: #fff;

}


.logo{
	padding: 50px;
}


.text h1{
	margin-top: 250px;
	font-size: 50px;
	margin-left: -50px;
}
.text h2{
	line-height: 30px;
	margin-top: -20px;
}

.text h2 span{
	color: #fff;
font-size: 
}

.buttons p{
	background-color: #fff;
	display: inline-block;
	padding: 10px 40px;
}
.buttons p:hover{
	background-color: #FF2700;
	color: #fff;
	transition: all .9s;
}


.read{
	background-color: #fff;
	display: inline-block;
	padding: 10px 40px;
	background-color: #FF2700;
	color: #fff;
}
.read:hover{
	background-color: #fff;
	transition: all .9s;
	color: #fff;
}

.o {
    margin-top: 476px;
}
#main {
    margin-top: -840px;
}

a{
	color: #fff;
text-decoration: none;
}

.buttons a .read:hover{
	color: #000;
}

.buttons a p{
	color: #000
}